.lpCustomer {
  width: 40%;
  background-color: beige;
  border-radius: 10px;
  padding: 30px 10px;
  margin: 100px 0 0 30%;
}

.lpCustomer form {
  width: 70%;
  text-align: center;
  margin-left: 15%;
}
