.dashboardTable {
  width : 80%;
  margin-left: 10%;
  text-align:center;
}

.dashboardTable td {
  width : 20%;
}

.dashboardTable th {
  height: 50px;
}

.dashboardTable ul {
  list-style-type: none;
}

.dashboardTable li {
  margin: 10px 0px;
}
