#ridesData {
  width : 75%;
  margin-left: 12.5%
}

#ridesData td {
  width : 25%;
  min-height: 50px;
  padding: 10px;
}

#ridesData ul {
  list-style-type: none;
}

#ridesData th {
  text-align:center;
  min-height:50px;
  border: 1px solid black;
}
